<div class="flight-details">
  <%= radio_button_tag("booking[flight_id]", flight.id) %>

  <label for=<%= "booking_flight_id_#{flight.id}" %>>
    <span>
      <span>
        <%= flight.departure_airport.name %>
        (
        <%= flight.departure_airport.code %>
        )
      </span>
      <span>
        To ==>
      </span>
      <span>
        <%= flight.arrival_airport.name %>
        (
        <%= flight.arrival_airport.code %>
        )
      </span>
    </span>
    <br>
    <span>
      <%= flight.duration.inspect %>
    </span>
    <br>
    <span>
      <%= format_to_date(flight.start_time) %>
      -
      <%= format_to_time(flight.start_time) %>
    </span>
  </label>
</div>
