<h1>Flights</h1>

<%= render "search_form" %>

<% if @flights %>

  <% unless @flights.empty? %>
    <p>
      flights for
      <%= @no_of_passengers %>
      passengers:
    </p>

    <%= form_with model: Booking.new, url: bookings_new_path, method: :get do |form| %>
      <% @flights.each do |flight| %>
        <%= render partial: "show", locals: { flight: flight, form: form } %>
      <% end %>

      <%= form.hidden_field :no_of_passengers, value: @no_of_passengers %>

      <input type="submit" name="commit" value="Select">
    <% end %>
  <% end %>

<% end %>
